<!DOCTYPE html>
<label>Search: <input ng-model="searchText" size="50"></label>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Subordinate To</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="unit in units | orderBy:'charter' | filter:searchText">
            <td><a ui-sref="unit({id: unit.id})">{{unit.charter}} {{unit.name}}</a></td>
            <td><a ui-sref="unit({id: unit.parent.id})">{{unit.parent.charter}} {{unit.parent.name}}</a></td>
        </tr>
        <tr ng-hide="units">
            <td colspan="2">Loading...</td>
        </tr>
        </tbody>
    </table>
</div>