<a ui-sref="units"><- Back to unit list</a>
<hr>
<table>
    <tr><td>Charter</td><td>{{unit.charter}}</td></tr>
    <tr><td>Name</td><td>{{unit.name}}</td></tr>
    <tr><td>Subordinate to</td><td>{{unit.parentCharter}} {{unit.parent.name}}</td></tr>
</table>
<p class="sectionHeader">Alert Roster</p>
<table>
    <tr ng-repeat="person in unit.alertRoster">
        <td>{{person.lastname}}></td>
        <td>{{person.firstName}}</td>
        <td>{{person.grade}}</td>
        <td>{{person.capid}}</td>
        <td>{{person.charter}}</td>
        <td><p ng-repeat="phone in person.phoneNumbers">{{phone.type}} {{phone.phoneNumber}}</p></td>
    </tr>
</table>