<!DOCTYPE html>
<label>Search: <input ng-model="searchText" size="50"></label>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Subordinate To</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unit in units | orderBy:'charter' | filter:searchText">
            <td><a ui-sref="unit({id: unit.charter})">{{unit.charter}}</a></td><td><a ui-sref="unit({id: unit.charter})">{{unit.name}}</a></td>
            <td><a ui-sref="unit({id: unit.parentUnit.charter})">{{unit.parentUnit.name}}</a></td>
            <td ng-hide="units">Loading...</td>
        </tr>
    </tbody>
</table>