<!DOCTYPE html>
<label>Search: <input ng-model="searchText" size="50"></label>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Ohio Wing Emergency Services - Resource Management System</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <a class="nav-link" ng-href="/{{loginUrl}}" ng-if="!loggedIn">log in</a>
                    <div ng-if="loggedIn">
                        <button ng-click="logout()" class="nav-link">Welcome, {{user.email}}! (logout)</button>
                    </div>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
</div>